<{include file="../header.html"}>
<div class="main">
<div style="position:relative; float:right; right:70px; top:140px;z-index:100;"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1735067958&amp;site=qq&amp;menu=yes"><img width="121" height="40" border="0" alt="客服QQ" src="<{$imgpath}>/uyan/qqbig.png"></a></div>

  <div class="registration_txt"><a href="javascript:;" style="color:#ccc">1.注册</a><span class="arrow"><img src="/images/arrow.jpg"></span><a href="javascript:;">2.获取代码</a></div>
  <div class="line"></div>
  <div class="registration_box">
    <div class="installation">
    	
      <div class="navigationInstall" style="display:block; height:38px; overflow:hidden; width:100%;"> 
      <span class="Platform">
		<p class="p5">选择平台：</p>
		<select onchange="go_install();" class="txt5" id="platform">
			<option value="index">通用代码</option>
            <option value="wordpress" <{if $codetype == 'wordpress'}>selected<{/if}>>WordPress</option>
			<option value="phpcms" <{if $codetype == 'phpcms'}>selected<{/if}>>PHPCMS</option>
			<option value="dedecms" <{if $codetype == 'dedecms'}>selected<{/if}>>DedeCMS(织梦)</option>
			<option value="empirecms" <{if $codetype == 'empirecms'}>selected<{/if}>>EmpireCMS(帝国)</option>
			<option value="ecshop" <{if $codetype == 'ecshop'}>selected<{/if}>>ECSHOP</option>
			<option value="php168" <{if $codetype == 'php168'}>selected<{/if}>>PHP168(齐博)</option>
			<option value="blogbus" <{if $codetype == 'blogbus'}>selected<{/if}>>Blogbus(博客大巴)</option>
			<option value="zblog" <{if $codetype == 'zblog'}>selected<{/if}>>Z-Blog</option>
			<option value="diandian" <{if $codetype == 'diandian'}>selected<{/if}>>DianDian(点点)</option>
		</select>
      </span>
      <span class="navigationInstall_btn"><a href="<{$siteurl}>/youyan_admin_pre">登录管理后台</a></span>
      
      <div class="clear"></div>
      </div>
      <!--通用代码-->
      <{if $showcode == true}>
      <h3 class="introductionTitle">
        <div class="itemTitleLine">将如下代码插入到网站中需要评论框的位置中</div>
      </h3>
      <div id="showCodePane">
        <div class="codePaneWindow">
          <div class="designPaneTop"></div>
          <div class="designPaneMid">
            <textarea id="getmycode" class="getCodePane" rows="5" wrap="off" onclick="select()"><!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" id="UYScript" src="http://uyan.cc/js/iframe.js?UYUserId=<{$uid}>" async=""></script>
<!-- UY END --></textarea>
            <div class="designPaneCodeArrow"></div>
          </div>
        </div>
      </div>
      <input class="button100" type="button" onclick="setcopy('getmycode');" value="复制代码">
      <br/>
      <div style="color: red;" class="f14" id="copycode_msg"></div>
      <br/>
      <{/if}>
      <{if $codetype == ''}>
      <div>
        <h3 class="introductionTitle">
          <div class="itemTitleLine" onclick="divpop('merge');" style="cursor:pointer">如何使多个页面的评论合并？<a href="javascript:;" style=" padding-left:6px; font-size:16px;color:#434242; text-decoration:none;"><img id="icon_img_merge" src="/images/xjtd.jpg" border="0"></a></div>
        </h3>
        <div id="merge" style="display:none;width:660px;">
          <div class="introductionContent">程序默认将每个URL识别为独立的评论页面，如果您遇到错误的识别, 希望多个页面使用同一个评论框, 或者页面为模板动态生成，请在javascript中赋予全局变量UYId页面辨别参数。UYId可以为动态生成的值。例如: UYId = &lt;?php echo $_GET['page'];?&gt;;</div>
          <code class="introCodeWrapper">
          <div class="lineF">&lt;meta name="UYId" content="评论框标识ID" /&gt;</div>
          </code></div>
      </div>
      <div>
        <h3 class="introductionTitle">
          <div class="itemTitleLine" onclick="divpop('where');" style="cursor:pointer">一般放在网站哪里？<a href="javascript:;" style=" padding-left:6px; font-size:16px;color:#434242; text-decoration:none;"><img id="icon_img_where" src="/images/xjtd.jpg" border="0"></a></div>
        </h3>
        <div id="where" style="display:none;width:660px;" class="introductionContent">复制并粘贴JS代码,放到您的网页，可以在&lt;body&gt;和&lt;/body&gt;的之间网页的任意位置放置。如果您的网站使用的模板，您也可以复制代码到您的模板，评论将在所有网页自动出现。 </div>
      </div>
      <{else}>
      <div>
      	<h3 class="introductionTitle">
          <div class="itemTitleLine" onclick="divpop('explain');" style="cursor:pointer"><{$codecms.subject}><a href="javascript:;" style=" padding-left:6px; font-size:16px;color:#434242; text-decoration:none;"><img id="icon_img_explain" src="/images/xjtd2.jpg" border="0"></a></div>
        </h3>
      	<div id="explain" style="display:block;width:660px;" class="introductionContent"><{$codecms.content}></div>
      </div>
      <{/if}>
  </div>
  </div>
</div>

<{include file="../footer.html"}>