@charset "utf-8";
/* CSS Document */
html{
	background: none repeat scroll 0 0 #fff;
}
body{
	background: none repeat scroll 0 0 #fff;
	color: #2d2d2d;
	position:relative;
}
.topNvaigation{
	background:url(../images/topnaviBG.png) 0 0 repeat-x;
	height:39px;
}
.contentContainer{
	width:980px;
	margin:0 auto;
}
.leftWrapper{
	width:240px;
	float:left;
	min-height:560px;
	padding-top:25px;
}
.rightWrapper{
	width:738px;
	float:left;
	border-left:1px solid #9eb3bf;	
	min-height:560px;
	padding:0;
	border-right:1px solid #9eb3bf;
	border-bottom:1px solid #9eb3bf;
	margin-bottom:20px;
}
.articleTitle{
	font-size:13px;	
}
.amountWrapper{
	width:223px;
	height:42px;
	border:1px solid #ebebeb;
	background-color:#f5f5f5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.hidePage{
	display:none;	
}
.hideDomain{
	display:none;
}
.in_reply_to_id{
	display:none;	
}
.amountItemWrapper{
	height:30px;
	margin-top:6px;
	border-left:1px solid #ebebeb;
	float:left;
	width:102px;
	color:#646464;
	padding-left:8px;
}
.amountNum{
	font-size:14px;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;

}

.amountIntro{
	font-size:12px;
	
}
a.nolineAmount{
	display:block;	
}
a:hover.nolineAmount{
	background-color:#dae1e8;
}
.nolineAmount .amountNum{
	cursor:pointer;	
}
.nolineAmount .amountIntro{
	cursor:pointer;
}
.amountWrapper .nolineAmount{
	border:none;
}
.leftcube{
	padding-top:15px;
	padding-left:10px;
}
.leftPaneTitle{
	font-size:13px;
	color:#3d3d3d;
	padding:0 0 10px 0;
	font-family:微软雅黑,黑体,simsun;
	font-weight:bold;
}
a.siteItem{
	cursor:pointer;
	/*color:#004378;*/
	color:#333;
	font-size:13px;
	padding-left:24px;
	margin-bottom:5px;
	display:block;
	height:20px;
	font-family:微软雅黑,黑体,Arial,simsun, Helvetica, sans-serif;
	line-height:24px;
	float:left;
	cursor:default;
}
/*a:hover.siteItem{
	text-decoration:underline;
}*/
.viewMostSite{
	float:right;
	width:33px;
	height:16px;
	background-color:#f5f5f5;
	border:1px solid #ebebeb;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align:center;	
	font-size:13px;
	color:#e54b39;
	padding:2px 0 0 0;
	font-weight:bold;
}
.nameContent{
	font-family:微软雅黑,黑体,simsun;
	color:#1f1f1f;
	font-size:28px;
	float:left;
	padding-right:8px;
}
.snsWrapper{
	float:left;	
}
.snsWrapper a{
	float:left;	
	width:100px;
	height:14px;
	font-size:12px;
	color:#1959a1;
	cursor:pointer;
	padding-left:14px;
	margin-top:17px;
	background:url(../images/setting.png) 0 2px no-repeat;
	text-decoration:none;
}
.SINA_profile{
	background:url(../images/SINAL.png) 0 0 no-repeat;	
}
/* information item*/
.itemWrapper{
  padding:5px 0 5px 10px;
  border-top:1px solid #e9e9e9;
  *padding:10px 0 15px 10px;
  *height:1%;
}
.itemWrapperSC{
    border-top: 1px solid #E9E9E9;
    padding: 15px 0 15px 10px;	
	margin:0 0 0 65px;
	*padding:10px 0 1px 10px;	
	*height:1%;
}
.UYPhoto{
  width:50px;
  height:50px;
  background:url(../images/photoDefault.png) 0 0 no-repeat;
  float:left;
  margin-top:3px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; 
}
.UYInfoWrapper{
  float:left;
  padding-left:10px;
  width:660px;
/*  position:relative;*/
}
.UYInfoWrapperSC{
    float: left;
    padding-left: 15px;
    /*position: relative;*/
    width: 455px;
}
.UYInfo{
  font-size:13px;
  color:#303030;
  line-height:18px;
  min-height: 26px;
  font-family:Arial, Simsun;
}
.UYArrowHide{
	display:none;
}
.UYInfoAction{
  padding:6px 0 0 0;
}

a.UYInfoLink, a.UYSourceLink{
  color: #3B5998;
  font-weight:normal;
  text-decoration:none;
  font-family:Arial, Helvetica, sans-serif;  
}
a.UYInfoLinkSC{
  color: #3B5998;
  font-weight:normal;
  text-decoration:none;
  font-family:Arial, Helvetica, sans-serif; 		
}
a.UYInfoLink{
	font-weight:bold;
}
a.UYInfoLink:hover, a.UYSourceLink:hover{
  text-decoration:underline;
}
.UYInfoAction{
  padding:3px 0 0 0;
}
.UYSendTime{
  font-size:12px;
  color:#acacd0;
  float:left;
}
#SINAType{
  background:url(../images/sinaTiny.png) 0 0 no-repeat;
  width:50px;
  color:#a9a9a9;
  font-size:12px;
  float:left;
  padding-left:20px;
  height:16px;
}
a.UYUpInfo{
  padding:0px 14px 0 0;
  border-right:1px solid #e2d4e2;
  font-size:12px;
  color:#5f88ce;
  float:left;
  display:block;
  cursor:pointer;
  margin-right:13px;
  display:none;
}
a:hover.UYUpInfo{
  text-decoration:underline;
}
.UYUpInfo span{
  padding-left:3px;
}
a.UYDownInfo{
  padding:0px 14px 0 0;
  border-right:1px solid #e2d4e2;
  font-size:12px;
  color:#5f88ce;
  float:right;
  display:block;
  cursor:pointer;
  margin-right: 10px;
}
a:hover.UYDownInfo{
  text-decoration:underline;
}
.UYDownInfo span{
  padding-left:3px;
}
a.UYReply{
  padding:0px 4px 0 4px;
  margin-right:10px;
  font-size:12px;
  color:#777;
  display:block;
  cursor:pointer;
  float:right;
}
a:hover.UYReply{
  text-decoration:underline;

}
.UYInfo a.UYDel{
	color:#aaa;
}
a.UYDel{
	padding:0px 4px 0 0;
	font-size:12px;
	float:right;
	color:#777;
	cursor:pointer;
	font-family:微软雅黑,黑体;
}
a:hover.UYDel{
	text-decoration:none;
	
}

a.UYAccess{
  margin:0px 10px 0 0;
  font-size:12px;
  color:#5f88ce;
  float:right;
  display:block;
  cursor:pointer;	
}
a:hover.UYAccess{
  text-decoration:underline;	
}
a:hover.UYDel{
  text-decoration:underline;
}
.UYDelIcon{
  float:right;
  width:13px;
  height:13px;
  margin-right:4px;
  background:url(../images/del.png)  0 0 no-repeat;
  display:block;
  cursor:pointer;	
}
.UYDownIconColor{
  float:right;
  width:13px;
  height:13px;
  margin-right:4px;
  background:url(../images/downColor.png)  0 0 no-repeat;
  display:block;
  cursor:pointer;
}
a.UYDownIcon{
  float:right;
  width:13px;
  height:13px;
  margin-right:4px;
  background:url(../images/down.png)  0 0 no-repeat;
  display:block;
  cursor:pointer;
}
a:hover.UYDownIcon{
  background:url(../images/downHover.png)  0 0 no-repeat;
}

.UYUpIconColor{
  float:left;
  width:13px;
  height:13px;
  margin-right:4px;
  background:url(../images/upDigColor.png)  0 0 no-repeat;
  cursor:pointer;
  display:block;
}
a.UYUpIcon{
  float:left;
  width:13px;
  height:13px;
  margin-right:4px;
  background:url(../images/upDig.png)  0 0 no-repeat;
  cursor:pointer;
  display:block;
  display:none;
}
a:hover.UYUpIcon{
  opacity:0.7;
}
.basicNameWrapper{
	padding:0 0 20px 0;	
}
.pagination a{
    border: 1px solid #AAAAAA;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    cursor: pointer;
    float: left;
    font-size: 12px;
    margin-right: 3px;
    padding: 3px 8px;
    text-align: center;
	text-decoration:none;
	display:block;
	
}
.pagination span{
    float: left;	
	padding: 4px 6px 5px;
	font-size: 12px;
	color: #aaa;
	display:block;
	
}
.pagination span.current{
    border: 1px solid #003F7E;
    color: #CC0000;
    font-weight: bold;
    border-radius: 3px 3px 3px 3px;
    float: left;
    font-size: 12px;
    margin-right: 3px;
    padding: 3px 8px;
    text-align: center;
	display:block;
}
.pagination span.prev, .pagination span.next{
    border: 1px solid #AAAAAA;
    color: #aaa;
    font-weight: normal;
    border-radius: 3px 3px 3px 3px;
    float: left;
    font-size: 12px;
    margin-right: 3px;
    padding: 3px 6px 3px;
    text-align: center;
	display:block;
}
.pagination{
	padding:10px 0 3px 3px;	
	border-top: 1px solid #E9E9E9;
}
.replyFrom{
	border:1px solid #ebebeb;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float:left;
	padding: 3px 10px 3px 8px;
	background-color:#f5f5f5;
	/*background:url(../images/from.png) 10px 7px #f5f5f5 no-repeat;*/
	font-size:12px;
	color:#7b7b7b;
	height:14px;
	margin: 5px 0 0 -10px;
	_margin:5px 0 0 -5px;
}
a.fromLink{
	font-size:12px;
	color:#004378;
	cursor:pointer;
	text-decoration:none;
}
a:hover.fromLink{
	text-decoration:underline;
}
.backBTN{
	text-align:center;
	padding:5px 0 0 0;
	width:89px;
	height:20px;
	font-size:13px;
	float:left;
	background:url(../images/gobackBTN.png) 0 0 no-repeat;
	color:#fff;
	cursor:pointer;
}
.dotLine{
	height:1px;
	background:url(../images/dotLine.png) 0 0 repeat-x;
}
.backWrapper{
	padding:0 0 10px;	
}
a.siteLink{
	display:block;	
	float:left;
	color:#004378;
	font-size:14px;
	font-family:微软雅黑,黑体,simsun;
	cursor:pointer;
}
a:hover.siteLink{
	text-decoration:underline;
}
.siteLinkWrapper{
	padding:0 0 0 22px;
	background:url(../images/iconfinder.png) 0 0 no-repeat;
}
.webSitesWrapper{
	padding:15px 0 15px 0;
	background:url(../images/dotLine.png) left bottom repeat-x;
}
.siteRelavantWrapper{
	height:19px;
	background-color:#f5f5f5;
	border:1px solid #ebebeb;
	color:#7b7b7b;
	font-size:13px;
	padding:4px 5px 0 5px;
	float:left;
	margin:4px 0 0 0;
	
}
/*additional for admin /Te*/
.sitesWrapper{
	width: 198px;	
}
.amountContainer{
	
}
.amountSingle{
	float:left;	
	width:85px;
	height:38px;
	border:1px solid #ebebeb;
	background-color:#f5f5f5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:4px 0 0 13px;
	margin:5px 7px 0 0;
}

a.smallEMAIL{
	background:url(../images/EMAILSmall.png) 20px 0 no-repeat;
}
a.smallNETEASY{
	background:url(../images/easywebSmall.png) 20px 0 no-repeat;
}	
a.smallQQ{
	background:url(../images/qZoneSmall.png) 20px 0 no-repeat;
}



.MSNSmall{
  background:url(../images/msnConnectSmall.png) 0 0 no-repeat;
}

.RENRENSmall{
  background:url(../images/RENRENM.png) 0 0 no-repeat;
}
.SINASmall{
  background:url(../images/SINAM.png) 0 0 no-repeat;
}
.QQSmall{
  background:url(../images/QZONEM.png) 0 0 no-repeat;
}
.NETEASYSmall{
  background:url(../images/EASYWEBM.png) 0 0 no-repeat;
}
.TENCENTSmall{
  background:url(../images/TENCENTM.png) 0 0 no-repeat;
}
.KAIXINSmall{
  background:url(../images/KAIXINM.png) 0 0 no-repeat;
}
.DOUBANSmall{
  background:url(../images/DOUBANM.png) 0 0 no-repeat;
}
.SOHUSmall{
  background:url(../images/SOHUM.png) 0 0 no-repeat;
}
.YYSmall{
  background:url(../images/YYM.png) 0 0 no-repeat;
}

a.photoWrapper{
	width:50px;
	height:50px;
	float:left;
	margin:0 10px 0 0 ;
	border:none;
	display:block;
}
a:hover.nameHeart{
	text-decoration:underline;	
}
a:hover.nameWrapper{
	text-decoration:underline;	
}
.nameWrapper{
	float:left;
}
.nameHeart{
	color: #004378;
    font-family: 微软雅黑,黑体,simsun;
    text-decoration: none;
	font-size:13px;
	padding-bottom:6px;
	display:block;
	cursor:pointer;
}
.nameIntro{
	font-size:12px;
	color:#a9a9a9;
}
.headPhoto{
	width:50px;
	height:50px;
	background:url(../images/photo.png) 0 0 no-repeat;
	border:none;
	display:block;
}
a.nameWrapper{
	color: #004378;
    font-family: 微软雅黑,黑体,simsun;
    text-decoration: none;
	font-size:13px;
	display:block;
	text-align:center;
	width:50px;
	cursor:pointer;
	height:16px;
	overflow:hidden;
}
.personWrapper{
	margin-right:4px;
	float:left;
	padding-bottom:6px;
}
.dataTitle{
	font-size:13px;
	color:#1f1f1f;
	margin:0 0 8px 0;
	font-family:微软雅黑,黑体,simsun;
	padding-right:10px;
}
.TitleInBox{
	font-size:14px;
	color:#1f1f1f;
	float:left;
	font-family:微软雅黑,黑体,simsun;
}
.alertIcon{
	float:left;
	background:url(../images/iconAlert.png) 0 0 no-repeat;
	width:16px;
	height:14px;
	margin:4px 0 0 6px;
	font-size:12px;
	color:#fff;
	font-weight:bold;
	text-align:center;
	display:none;
}
.messageTitleWrapper{
	padding:20px 0 8px 0;
	font-size:14px;
	*margin-bottom:-18px;
}
.newAlert{
	color: #E54B39;
    font-size: 14px;
    left: 15px;
    position: absolute;
    top: 65px;
	font-family:Arial, Helvetica, sans-serif;
	left: 12px;
}
.dataLeftTitle{
	float:left;	
	font-family:微软雅黑,黑体,simsun;
}
.dataTitle a{
	float:right;	
	cursor:pointer;
	color:#1d71a7;
	margin-right:8px;
	width:70px;
}
.contentContainerOut{
	border: 1px solid #9EB3BF;	
	border-top:none;
	min-height:560px;
	_height:560px;
}
.contentTitle{
	font-size:24px;
	font-family:微软雅黑,黑体,simsun;
	padding:40px 0 0 50px;
}
.contentTableTop{
	width:890px;
	height:30px;
	border:1px solid #ebebeb;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color:#f5f5f5;
	border-bottom:none;
	margin:20px 0 0 50px;
	font-size:14px;
	color:#2a2a2a;
}
.contentTableLine{
	width:890px;	
	height:32px;
	border:1px solid #ebebeb;
	border-bottom:none;
	background-color:#f5f5f5;
	margin:0 0 0 50px;
	color:#e54b39;
	font-size:14px;
	
}
.contentTableLine a.urlContanter{
	cursor:pointer;	
	color:#e54b39;
	text-decoration:none;
}

.contentTableLine a.viewContainer{
	cursor:pointer;
	color:#e54b39;
	text-decoration:none;
}
.contentTableBottom{
	width:890px;
	height:30px;
	border:1px solid #ebebeb;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-bottom-radius: 5px;
	border-top-bottom-radius: 5px;
	background-color:#f5f5f5;
	margin:0 0 0 50px;
	color:#2a2a2a;
	font-size:14px;
	
}
.urlContanter{
	float:left;	
	width:445px;
	height:24px;
	border-right:1px solid #ebebeb;
	padding:6px 0 0 20px;
	font-family:微软雅黑,黑体,simsun;
}
.commentsContainer{
	float:left;	
	width:240px;
	height:24px;
	border-right:1px solid #ebebeb;
	padding:6px 0 0 20px;
	font-family:微软雅黑,黑体,simsun;
}
a.commentsContainer{
	float:left;	
	width:240px;
	height:24px;
	border-right:1px solid #ebebeb;
	padding:6px 0 0 20px;
	font-family:微软雅黑,黑体,simsun;
	display:block;
	color:#E54B39;
	text-decoration:underline;
	
}
.viewContainer{
	float:left;	
	width:130px;
	height:24px;
	padding:6px 0 0 20px;
	font-family:微软雅黑,黑体,simsun;
}
#messagesContainer{
	padding-bottom:20px;	
}

.onLoading{
	font-size:12px;
	color:#CCC;
	padding:2px 0 0 15px;
	display:block;
	float:left;
}
.contentWrapper img{
/*	width:19px;
	height:19px;
	padding:0 3px;*/
}
.introduce{
	font-size:13px;
	padding:20px 0 0 68px;
	color:#333;
	font-family:微软雅黑,黑体,simsun;
}
.noMessageState{
	font-size:13px;
	margin:5px 0 10px 0;
	width:160px;
	font-family:微软雅黑,黑体,simsun;
	color:#888;
}
#delPane{
	width:415px;
	height:192px;
	position:relative;
	display:none;
}
.loginTitlePane{
	height:29px;
	background-color:#e3eef2;
	border-bottom:1px solid #c9c9c9;
	color:#393939;
	font-family:微软雅黑,黑体,simsun;
	padding-left:36px;
	padding-top:15px;
	font-size:15px;
	margin-bottom:1px;
	font-weight:bold;
}
.loginItemTitle{
	font-size:13px;
	color:#3e3e3e;
	width:97px;
	padding-right:15px;
	text-align:right;
	float:left;
	padding-top:8px;
	font-family:Arial, Helvetica, sans-serif;
}
.inputStyle{
	border:1px solid #80a1c1;
	width:234px;
	height:25px;	
	color:#687793;
	padding:2px 8px;
	float:left;
}
.loginItemWrapper{
	padding:15px 0 0 0;	
}
.bottomLoginWrapper{
	padding: 10px 50px 0 112px;	
}
.delBTNPane{
	padding:5px 20px 2px 20px;
	color:#fff;
	background-color:#8bad50;
	border:1px solid #799e3c;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size:13px;
	text-align:center;
	display:block;
	float:left;
	cursor:pointer;
	text-decoration:none;
	margin-right:10px;
}
#delConfirm{
	background-color: #DD4B39;
    border: 1px solid #C03F2F;	
}
.loginAfterPane{
	width:160px;
	margin:10px auto 0 auto;
}
#checkReme{
	margin:7px 0 0 0;
	padding:0;
	display:block;
	float:left;
	border:1px solid #80a1c1;
}
.checkRemeIntro{
	float:left;
	font-size:12px;
	margin-left:4px;
	margin-top:7px;
	color:#3e3e3e;
}
#closediag{
	position:absolute;
	top:-15px;
	right:-15px;
	_top:0;
	_right:0;
	background:url(../images/closeDialog.png) 0 0 no-repeat;
	_background:url(../images/closeDialogIE.png) 0 0 no-repeat;
	width:31px;
	height:31px;
	display:block;
	z-index: 100000;
}
.delIntroduce{
	padding:20px 35px;
	font-size:14px;
}
#currentLineID{
	display:none;
}	
.unverified{
	font-size:14px;
	color:#E54B39;
	padding-left:8px;
}
.dotControl{
	font-size:12px;
	color:#aaa;
}
.dotControl a{
	color:#999;	
}
.bindSNSWrapper{
	margin-top:5px;
}
a.bindIcon{
	width:116px;
	height:35px;
	float:left;
	cursor:pointer;
}
.bindIntro{
	padding:10px 0 0 3px;
	float:left;
	font-size:13px;
	color:#777;
}
a.bindSINA{
	background:url(../images/connectSINA.png) 0 0 no-repeat;
}
a.bindedSINA{
	background:url(../images/connectedSINA.png) 0 0 no-repeat;
}
a.bindedLink{
	text-decoration:none;
	color:#3c61b7;
}
#bindedWrapper{
	display:none;	
}
.categoryMenuTopWrapper{
	background-color:#dedede;
	height:38px;
	border-bottom:1px solid #b9b9b9;
	
}
.siteNameContainer{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#2f2f2f;
	padding-top:10px;
	float:left;	
}
.categoryMenuTopContainer{
	width:980px;
	margin:0 auto;
}
.menuTopButton{
	float:right;
	display:block;
	width:130px;
	height:24px;
	color:#1f85c5;
	font-family:微软雅黑,黑体,simsun;
	border:1px solid #c8c8c8;
	border-bottom:none;
	text-align:center;
	font-size:14px;
	background-color:#ececec;
	margin-left:8px;
	margin-top:7px;
	padding-top:6px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	cursor:pointer;
	text-decoration:none;
}
.menuTopCurrent{
	border:1px solid #898989;
	border-bottom:1px solid #fff;
	margin-bottom:-1px;
	color:#e54b39;
	background-color:#fff;
	cursor:default;
}
a.adminLeftMenuBTN{
	display:block;
	width:180px;
	padding:7px 10px 7px 8px;
	margin:0 0 3px 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align:left;
	font-size:13px;
	cursor:pointer;
	color:#333;
	text-decoration:none;
}
a.currentLeftMenu{
	background-color:#f5f5f5;
	border:1px solid #ebebeb;
	color:#e54b39;
	cursor:default;
	margin:0 0 2px 0;
	padding: 6px 10px 6px 7px;
	font-weight:bold;
}

.checkTable{
	border:1px solid #ddd;
	margin-top:30px;
}
.checkItem{
	border-top:1px solid #dddddd;	
}
.checkNumAll{
	float:left;
	border-right:1px solid #dddddd;
	width:29px;
	background-color:#EAEAEA;
	color:#403d42;
	height:23px;
	text-align:right;
	font-size:13px;
	padding:7px 5px 0 0;
	font-family:Arial, Helvetica, sans-serif;
	overflow:hidden;
}
.checkNum{
	float:left;
	border-right:1px solid #dddddd;
	width:29px;
	background-color:#f8f8f8;
	color:#403d42;
	height:23px;
	text-align:right;
	font-size:13px;
	padding:7px 5px 0 0;
	font-family:Arial, Helvetica, sans-serif;
	overflow:hidden;
}
.firstLineTable .checkNum{
	background-color:#fff;
	border-right:1px solid #fff;
}
a.checkTitleAll{
	float:left;
	font-size:13px;
	padding:7px 5px 0 10px;
	text-align:left;
	background-color:#EAEAEA;
	border-right:1px solid #dddddd;
	width:404px;
	height:23px;
	overflow:hidden;
	display:block;
	cursor:pointer;
	text-decoration:none;
	color:#004378;	
}
a.checkTitle{
	float:left;
	font-size:13px;
	padding:2px 5px 7px 10px;
	line-height:30px;
	text-align:left;
	background-color:#f8f8f8;
	border-right:1px solid #dddddd;
	width:404px;
	height:21px;
	overflow:hidden;
	display:block;
	cursor:pointer;
	text-decoration:none;
	color:#004378;
	font-weight:bold;
}
a:hover.checkTitle{
	background-color:#ccc;
	color:#004378;
}
.firstLineTable .checkTitleUp{
	float:left;
	font-size:13px;
	padding:7px 5px 0 10px;
	text-align:left;
	width:404px;
	height:23px;
	overflow:hidden;
	display:block;
	text-decoration:none;
	color:#333;
	font-weight:bold;
	background-color:#fff;
	border-right:1px solid #fff;
}
.checkComment{
	float:left;
	font-size:13px;
	padding:7px 10px 0 10px;
	text-align:right;
	background-color:#eaeaea;
	border-right:1px solid #dddddd;
	width:95px;
	height:23px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	overflow:hidden;
}
.firstLineTable .checkComment{
	background-color:#fff;
	border-right:1px solid #fff;
	font-weight:normal;
}
.checkTrace{
	float:left;
	font-size:13px;
	padding:7px 10px 0 10px;
	text-align:right;
	background-color:#eaeaea;
	width:95px;
	height:23px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	overflow:hidden;		
}
.firstLineTable .checkTrace{
	background-color:#fff;
	font-weight:normal;
}
.dataLeftTitleWrapper{
	width:210px;
	float:left;	
}
.dataLeftTitleTrace{
	overflow:hidden;
	height:19px;
	float:left;	
	font-family:微软雅黑,黑体,simsun;
	font-weight:bold;
	color:#333;
	max-width:170px;
}
#pageAnalytics{
	/*padding-bottom:30px;*/
	padding:10px 20px 10px 20px;
}
.leftMenuWrapper{
	padding-bottom:10px;
	margin-bottom:15px;
	border-bottom:2px solid #f1f1f1;
}
a.menuItem{
	display:block;
	color:#222;
	font-size:14px;
	text-decoration:none;
	cursor:pointer;
	padding:3px 3px 2px 5px;
	
	height:auto;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin:0 10px 10px 0;
	border:none;
	border-bottom:none;
	border-top:none;
}
a:hover.menuItem{
	border-top:none;
	border-bottom:none;
	background-color:#6d84b4;
	color:#fff;
}

.currentMenuItem{
	background-color:#f5f5f5;
	border:1px solid #ebebeb;
	color:#000;
	font-weight:100;
	margin: 0 10px 10px 0;
    padding: 2px 4px 1px 4px;
}
.articleTime{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#aaa;
}
.unGetmoreCommentBTN{
	width:736px;
	text-align:center;
	font-size:14px;
	font-family:微软雅黑,黑体,simsun;
	padding:5px 0 5px 0;
	color:#666;
	background-color:#f5f5f5;
	border:1px solid #cdcdcd;
	display:block;
	margin:0 0 5px 0;	
}
.shareLinks{
	padding:8px 25px 0 25px;
	height:27px;
	cursor:pointer;
	display:block;
	float:left;
	color:#1d71a7;
	font-size:13px;
}
#createLinkPane{
	position:relative;
	width:400px;
	height:140px;
	background-color: #F5F5F5;
	padding:15px;
	font-size:14px;
	display:none;
}
.introCreateLinkTitle{
    color: #333333;
    font-size: 13px;
    padding-top: 10px;
}
.createLinkCode{
	padding:2px 4px;
	background-color:#fff;
	border:1px solid #333;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	margin-top:20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.articleManageRight{
	font-size:13px;	
}
#shareLinkTo{
	font-weight:bold;
	padding-top:7px;
}
#allPagesTab{
	padding:9px 0 9px 4px;
	font-weight:bold;	
}
#allPagesTab.currentMenuItem{
	margin-bottom:8px;
}
.emailUserName{
	font-weight:normal;
	color:#666;
}
a.linkTo{
    background: url("../images/1315567352_link.png") no-repeat scroll 0 0 transparent;
    float: left;
	display:block;
    height: 16px;
    width: 16px;
	margin-left:5px;
	display:none;
}
.verifyState{
	font-size:12px;
	color:#900;
	padding-left:4px;
	text-decoration:none;
}
.emptyCommentUnverified{
	font-size:14px;
	color:#666;
}
a.forCommentCheckTitle{
	font-weight:normal;
	font-size:12px;
}
.topCommentNavi{
	height:35px;
	background-color:#f5f5f5;
	border-bottom:1px solid #d8e1e5;
	padding-left:18px;
}
.commentTypeWrapper{
	height:29px;
	padding:2px 10px;
	background-color:#f5f5f5;
	border-top:1px solid #fff;
	border-bottom:1px solid #aaa;
}
.newCommentsTab{
	float:left;
	font-size:13px;
	padding: 8px 25px 0;
	height: 27px;
	cursor:pointer;
	color:#1D71A7;
}
.currentNewComments{
	font-weight:bold;
	color:#E54B39;
	cursor:default;
}
.selectCommentType{
	width:140px;
	height:28px;
	float:left;
	font-size:12px;
	color:#fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-right:3px;
}
.normalComment{
	background-color:#42afcc;
}
.readyComment{
	background-color:#d7b088;
}
.trashComment{
	background-color:#df62a0;
}
.delComment{
	background-color:#999999;
}
.defaulTypeColor{
	background-color:#e5e5e5;
	color:#222;
}
.commentTypeCheck{
	display:block;
	float:left;
	padding:0;
	margin:0;
	margin:7px 0 0 15px;
	*margin:3px 0 0 15px;
}
.selecCommentIntro{
	float:left;
	padding:5px 0 0 5px;
}
.normalItem{
	border-left:2px solid #42afcc;	
}
.readyItem{
	border-left:2px solid #d7b088;	
}
.trashItem{
	border-left:2px solid #df62a0;	
}
.delItem{
	border-left:2px solid #999;	
}
a.getmoreCommentBTN{
	display:block;
	color:#333;
	text-align:center;
	cursor:pointer;
	text-decoration:none;
    background: url("../images/style4/topBannerBG.png") repeat-x scroll 0 0 transparent;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px 3px 3px 3px;

	
    font-size: 13px;
    line-height: 14px;
    margin: 0 0 1em;
    max-height: 36px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    white-space: nowrap;

	
	/*for ie8*/
	border:1px solid #bbb\0\9;
	margin-right:5px\0\9;
	/*for ie7*/
	*border:1px solid #bbb;
	*margin-right:5px;
	/*for ie6*/
	_background:#eee;
	_border:1px solid #bbb;
}
a:hover.getmoreCommentBTN{
	background-color:#d8dfea;
	text-decoration:none;
}
#trendTabContainer{
	display:none;
	padding:10px 20px 20px 20px;
}
.noMessageComment{
	margin:20px auto 20px;
	font-size:14px;
	color:#333;
	width:200px;
}
.noMessageUser{
	margin:20px auto 20px;
	font-size:14px;
	color:#333;
	width:250px;	
}
.introduceuploadWrapper{
	width:500px;
	margin:0 auto;
	min-height:500px;
	padding:50px 0 0 0;
}
.introduceUpload{
	font-size:14px;
	color:#333;
}
.introduceUploadText{
	font-size:12px;
	color:#777;
	padding-top:5px;
}
.introduceUploadTextNotify{
	font-size:12px;
	color:#777;
	padding-top:5px;
}
.introduceLink{
	font-size:14px;
	padding:15px 0 0 0;
}
.introduceLink a{
	color:#3158bb;
}
.introduceUploadTextAfter{
	font-size:14px;
	color:#333;
	padding:20px 0 0 0;	
}
.introducdUploadTestBTN{
    background: url("../images/provideURLBTN.png") no-repeat scroll 0 0 transparent;
    color: #406A3B;
    cursor: pointer;
    float: left;
    font-size: 16px;
    height: 28px;
    margin: 10px 0 0;
    padding: 9px 5px 0;
    text-align: center;
    text-shadow: 0 1px #EAF8C6;
    min-width: 81px;	
}
.confirmVerify{
	font-size:14px;
	color:#060;
	padding-left:25px;
	background:url(../images/sucessSignup.png) 0 0 no-repeat;
}
.backPassContainer{
	width:380px;
	margin:0 auto;
}
.backPassTitle{
	font-size:16px;
	padding:50px 0 0 0;
	
}
.backPassIntro{
	font-size:14px;
	padding:10px 0 5px 0;
}
.enterEmail{
	width:200px;
	height:20px;
	padding:3px;
}
.backPassEmail{
	font-size:14px;
	padding:10px 0 0 0;	
}
.submitReset{
    background: url("../images/provideURLBTN.png") no-repeat scroll 0 0 transparent;
    color: #406A3B;
    cursor: pointer;
    font-size: 16px;
    height: 28px;
    margin: 10px 0 0;
	display:block;
    padding: 9px 0 0;
    text-align: center;
    text-shadow: 0 1px #EAF8C6;
    width: 91px;
	float:left;
}
.backLink{
	float:left;
	font-size:13px;
	color:#036;
	text-decoration:none;
	display:block;
	margin:19px 0 0 30px;
}
.backLinkdone{
	float:left;
	font-size:13px;
	color:#036;
	text-decoration:none;
	display:block;
	margin:19px 0 0 0;		
}
.backActionPane{
	padding:10px 0 0 0;	
}
.replyAdminText{
	padding:2px;
	width:650px;
	height:50px;
	resize:none;
	margin:4px 0 3px 0;
	font-family:微软雅黑,simsun;
	font-size:13px;
}
.replySubtimButton{
	margin:0 5px 0 0;
	width:80px;
}
.UYDisqusLoginPanes .loginAfterPane{
	width:320px;
}
.loginItemWrapper .loginItemTitle{
    color: #3E3E3E;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    padding-right: 15px;
    padding-top: 8px;
    text-align: right;
    width: 77px;
}
.loginAfterPane .bottomLoginWrapper{
	padding: 10px 28px 0 42px;
}
#UYreplyInput{
	width:452px;	
}
