<{include file="../header.html"}>

<div class="radial">
	<div class="blueWrapper">
		<div class="blueContainer">
			<div onmouseout="G('demoBTN').style.background='url(<{$imgpath}>/uyan/demoBTN_ie6.png) 0 0 no-repeat';" onmouseover="G('demoBTN').style.background='url(<{$imgpath}>/uyan/demoBTN_ie6.png) 0 -38px no-repeat';" onclick="document.location.href='<{$siteurl}>/demo#uyan_frame';" style="cursor:pointer;" title="评论框预览" class="devIntro">
				<div class="demoContainer">
					<a href="javascript:;" class="demoBTN" id="demoBTN" style="background: url(<{$imgpath}>/uyan/demoBTN_ie6.png) no-repeat scroll 0pt 0pt transparent;"></a>
				</div>
			</div>
			<div class="devCreatePane">
				<div class="mainIntro">简单、友好的社会化评论框!
					<p>网站评论框不再是冷冰冰的用户名和email，而是来自各大微博及社交网络的真实用户的言论，增加了交流氛围和乐趣。</p>
				</div>
				<a style="position:absolute; color:#fff; font-size:24px; text-decoration:none; z-index:100; margin-top:26px; margin-left:240px;" onmouseover="mypop('morebutton_btn', 'show');" href="<{$siteurl}>/getcode" href="<{$siteurl}>/getcode">▼</a>
				<div class="singupWordPressContainer">
					<a href="<{$siteurl}>/getcode" onmouseout="mypop('morebutton_btn', 'hide');" class="createCodeWPBTN" style="position:relative; z-index:10;"></a>
				</div>
				<ul onmouseout="mypop('morebutton_btn', 'hide');" onmouseover="mypop('morebutton_btn', 'show');" class="morebutton_btn" id="morebutton_btn" style="display:none;">
                   <li><a href="<{$siteurl}>/getcode">通用代码</a></li>
                   <li><a href="<{$siteurl}>/getcode/wordpress">WordPress</a></li>
                   <li><a href="<{$siteurl}>/getcode/phpcms">PHPCMS</a></li>
                   <li><a href="<{$siteurl}>/getcode/dedecms">DedeCMS(织梦)</a></li>
                   <li><a href="<{$siteurl}>/getcode/empirecms">EmpireCMS(帝国)</a></li>
                   <li><a href="<{$siteurl}>/getcode/ecshop">ECSHOP</a></li>
                   <li><a href="<{$siteurl}>/getcode/php168">PHP168(齐博)</a></li>
                   <li><a href="<{$siteurl}>/getcode/blogbus">Blogbus(博客大巴)</a></li>
                   <li><a href="<{$siteurl}>/getcode/zblog">Z-Blog</a></li>
                   <li><a href="<{$siteurl}>/getcode/diandian">DianDian(点点)</a></li>
                </ul>
				<div class="signupContainer">
					<p></p>
					<a href="<{$siteurl}>/getcode/wordpress/install">WordPress用户？&nbsp;&nbsp;请点这里</a>
					<div class="clear"></div>
				</div>
			</div>
			<div class="clear"></div>
			<div style="margin: 26px auto 0; width: 940px; font-size: 18px; color: #FFFFFF; text-shadow: 0 -1px 0 #666;">6000+网站主已经开始使用友言</div>
			<div class="bannerContainer">
				<a class="bannerLeftArrow"><img id="larrow" src="<{$imgpath}>/uyan/leftArrowImage.png" onClick="rollImg(this);"></img></a>
				<div id="scrollImageOut" onMouseOver="stopscroll();" onMouseOut="doscroll();">
					<div id="scrollImageInner">
						<a href="http://www.36kr.com" target="_blank"><img src="<{$imgpath}>/used/36kr.jpg" style=""></a>
						<a href="http://www.chinabyte.com/" target="_blank"><img src="<{$imgpath}>/used/chinabyte.jpg" style=""></a>
						<a href="http://caorun.net" target="_blank"><img src="<{$imgpath}>/used/caorun.jpg" style=""></a>
						<a href="http://team.chengdu.cn/" target="_blank"><img src="<{$imgpath}>/used/chengdu.jpg" style=""></a>
						<a href="http://d-luffy.diandian.com/" target="_blank"><img src="<{$imgpath}>/used/d-luffy.diandian.jpg" style=""></a>
						<a href="http://huodongkong.com/" target="_blank"><img src="<{$imgpath}>/used/huodongkong.jpg" style=""></a>
						<a href="http://www.ingeeks.com" target="_blank"><img src="<{$imgpath}>/used/ingeeks.jpg" style=""></a>
						<a href="http://www.ladymax.cn" target="_blank"><img src="<{$imgpath}>/used/ladymax.jpg" style=""></a>
						<a href="http://www.mp4works.cn/" target="_blank"><img src="<{$imgpath}>/used/mp4works.jpg" style=""></a>
						<a href="http://www.rybbaby.com" target="_blank"><img src="<{$imgpath}>/used/rybbaby.jpg" style=""></a>
						<a href="http://since1984.cn/blog/" target="_blank"><img src="<{$imgpath}>/used/since1984.jpg" style=""></a>
						<a href="http://since1989.org/" target="_blank"><img src="<{$imgpath}>/used/since1989.jpg" style=""></a>
						<a href="http://www.socialbeta.cn" target="_blank"><img src="<{$imgpath}>/used/socialbeta.jpg" style=""></a>
						<a href="http://www.soslx.com/ " target="_blank"><img src="<{$imgpath}>/used/soslx.jpg" style=""></a>
						<a href="http://www.t753.com/" target="_blank"><img src="<{$imgpath}>/used/t753.com.jpg" style=""></a>
						<a href="http://technode.com" target="_blank"><img src="<{$imgpath}>/used/technode.jpg" style=""></a>
						<a href="http://www.thinkpage.net/" target="_blank"><img src="<{$imgpath}>/used/thinkpage.jpg" style=""></a>
						<a href="http://tvbppp.us15.beidc.net/" target="_blank"><img src="<{$imgpath}>/used/tvbppp.us15.jpg" style=""></a>
						<a href="http://uxrun.com/" target="_blank"><img src="<{$imgpath}>/used/uxrun.jpg" style=""></a>
						<a href="http://web20share.com" target="_blank"><img src="<{$imgpath}>/used/web20share.jpg" style=""></a>
						<a href="http://travel.msra.cn/" target="_blank"><img src="<{$imgpath}>/used/msra.jpg" style=""></a>
					</div>
				</div>
				<a class="bannerRightArrow"><img id="rarrow" src="<{$imgpath}>/uyan/rightArrowImage.png" onClick="rollImg(this);"></img></a>
				<div class="clear"></div>
			</div>
			<script language="javascript">
				//scroll images
				var jumpWid = 5;	
				var scrollCnt = 0;//像素滚动次数
				var scrollType = "normal";
				var sc;		
				var scrollImageOut = document.getElementById("scrollImageOut"); 
				var scrollImageInner = document.getElementById("scrollImageInner"); 									 
				var scrollImgCnt = scrollImageOut.offsetWidth/jumpWid;
				var scrollWid=scrollImageOut.scrollWidth;									 
				scrollImageInner.innerHTML+=scrollImageInner.innerHTML;
				doscroll();
			</script>
			<div class="clear"></div>
		</div>
	</div>
</div>

<div class="grayEmptyWrapper"></div>
<div class="bottomWrapper" id="bottomWrapper">
    <div class="bottomIntroContainer">
        <div class="bottomFeatureTitle">为什么使用社交评论?</div>
        <div class="bottomFeatureItem"><div class="bottomItemPic" id="firstFeature"></div><div class="bottomFeatureIntroPane"><strong>精确定位用户</strong><br>不再是冷冰冰的用户名与邮箱，在他们授权后，您可以看到他们丰富多彩的社交网络信息。</div></div>
        <div class="bottomFeatureSeperate"></div>
        <div class="bottomFeatureItem"><div class="bottomItemPic" id="scecondFeature"></div><div class="bottomFeatureIntroPane"><strong>更多的流量与访客</strong><br>通过社交媒体优化(SMO)，为您带来留言者的好友，增加网络流量，口碑营销更加高效。</div></div>
        <div class="bottomFeatureSeperate"></div>
        <div class="bottomFeatureItem"><div class="bottomItemPic" id="thirdFeature"></div><div class="bottomFeatureIntroPane"><strong>高质量的评论</strong><br>实名制的留言系统，将大大提高评论的质量。</div></div>
        <div class="bottomFeatureSeperate"></div>
        <div class="bottomFeatureItem"><div class="bottomItemPic" id="fourthFeature"></div><div class="bottomFeatureIntroPane"><strong>智能统计</strong><br>系统针对您的网站提供更加全面有效的统计功能，完全掌控网站的信息动向。</div></div>
    </div>
</div>

<{include file="../footer.html"}>