	<div class="mb10"><img src="<{$imgdir}>/toolbottom.gif" width="980" height="9" /></div>
</div>
<{include file="../prettify.html"}>
<{if isset($seourl) && $seourl!='optimized-jiathis-code' && $seourl!='largeicons'}>
<!-- JiaThis Button BEGIN -->
<script type="text/javascript">
var jiathis_config = {
	"ralateuid":{"tsina":"1647863564"},
	"data_track_clickback":true,
	shareImg:{
	"showType":"MARK",
	"bgColor":"",
	"txtColor":"",
	"text":"",
	"services":"",
	"position":"",
	"imgwidth":"",
	"imgheight":""
	}
};
</script>
<script type="text/javascript" src="http://v2.jiathis.com/code/jia.js" charset="utf-8"></script>
<!-- JiaThis Button END -->
<{/if}>
<{include file="../footer.html"}>
