<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>友言重设密码邮件</title>
</head>
<body>
<title>重设密码</title>
<style>
#linkdiv a{	
	color: rgb(64, 63, 58); 
}
#linkdiv a:visited{
	color:#403f3a;
}
#linkdiv a:hover{
	color:#2a82d4;
}
</style>
<div style="height: 130px; margin-left: auto; margin-right: auto; padding-top: 30px;">
	<div style="height: 90px; font-size: 12px; line-height: 15px;"> <span style="border-bottom: 1px solid rgb(204, 204, 204); display: block; color: rgb(142, 142, 142); height: 25px; font-weight: bold; font-size: 14px;">Hi <{$master_name}>,</span> <span style="display: block; padding-top: 8px; height:19px; font-weight:bold;">请点击下面链接重设您在友言网密码</span> <a style="height:18px;border-bottom: 1px solid rgb(204, 204, 204); display: block; padding-bottom: 8px;" href="http://uyan.cc/getpwd/reset/<{$checkcombine}>">http://uyan.cc/getpwd/reset/<{$checkcombine}></a></div>
	<div style="height: 20px; clear: both;"> <span style="display: block; font-size: 14px; font-weight: bold; color: rgb(233, 81, 148);">注意：为了保障你帐号的安全性，密码重置页面的有效期为24小时，并且仅允许使用一次。</span> <span style="display: block; font-size: 14px; font-weight: bold; color: rgb(233, 81, 148);">如果您并没有注册友言或者并非此信件的接收者，请删除此封邮件，对您造成的不便表示歉意。</span> <span style="display: block; font-size: 12px; font-weight: 100; color: rgb(38, 38, 38);">如果您仍旧无法修改密码请咨询管理员 help@uyan.cc</span> </div>
</div>
</body>
</html>
