<{include file="../admincp_header.html"}>
<div class="tip" id="tip">
  <table width="100%" border="0" cellpadding="0" cellspacing="5">
    <tr>
      <td width="4%" valign="top"><img src="<{$imgpath}>/common/infalg.gif" /></td>
      <td><span class="b red" style="font-size:16px;"><{$smarty.session.uyan_adminname}>，欢迎你登录友言管理平台!<br />
        </span></td>
    </tr>
  </table>
</div>
<div class="table_div_too">
  <div class="table_div_left">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table03">
      <thead>
        <tr>
          <th colspan="3" class="align_l red">友言数据</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td width="11%" align="right"><img src="<{$imgpath}>/common/inlig.gif" /></td>
          <td width="57%">当前数量：</td>
          <td width="32%"><span class="red b"></span> 个 </td>
        </tr>
        <tr>
          <td align="right"><img src="<{$imgpath}>/common/inlig.gif" /></td>
          <td>当前数量：</td>
          <td><span class="red b"></span> 个</td>
        </tr>
        <tr>
          <td align="right"><img src="<{$imgpath}>/common/inlig.gif" /></td>
          <td>当前数量：</td>
          <td><span class="red b"></span> 次</td>
        </tr>
        <tr>
          <td align="right"><img src="<{$imgpath}>/common/inlig.gif" /></td>
          <td>当前数量：</td>
          <td><span class="red b"></span> 个</td>
        </tr>
      </tbody>
    </table>
    <br />
  </div>
</div>
<{include file="../admincp_footer.html"}> 